
<footer>
    <div class="col-lg-12" style="background:#000000;margin-top:5%;padding-top:2%;height:200px">
        <div class="col-lg-4">
            <ul style="padding-left:25%;">
                <li><a href="@Url.Action("About","Home")">How we are</a></li>
                <li><a href="@Url.Action("About","Home")">Our Goal</a></li>
                <li><a href="@Url.Action("About","Home")">Privacy policy</a></li>
                <li><a href="@Url.Action("About","Home")">Seller condition</a></li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul style="padding-left:25%;">
                <li><a href="@Url.Action("About","Home")">How we are</a></li>
                <li><a href="@Url.Action("About","Home")">Our Goal</a></li>
                <li><a href="@Url.Action("About","Home")">Privacy policy</a></li>
                <li><a href="@Url.Action("About","Home")">Seller condition</a></li>
            </ul>
        </div>
        <div class="col-lg-4">
            <p>This product is in license by Ariseens - Copyright 2015</p>

        </div>
        

    </div>
</footer>